# exclude everything in directory datasets except readme
datasets/*
!datasets/README.md
checkpoints/*
!checkpoints/README.md
models/*
!models/README.md
logs/*
!logs/README.md
reference
results/*
!results/README.md
utils/*
!utils/README.md
!utils/imageNamesFileMaker.py
!utils/makePatches.m